# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.pcd

# C/C++ 
*.o
*.so
*.a
*.dylib
*.dll
[Oo]bj/
[Bb]in/

# Python & Acados env
/.venv
venv_acados/
__pycache__/
*.py[cod]
*$py.class
acados_ocp.json

#ROS 
build/
install/
log/

#reference
[ref]/

/.venv

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
